<% if (success.length > 0) { %>
  <div class="bg-green-100 text-green-700 p-3 rounded mb-4">
    <%= success[0] %>
  </div>
<% } %>

<% if (error.length > 0) { %>
  <div class="bg-red-100 text-red-700 p-3 rounded mb-4">
    <%= error[0] %>
  </div>
<% } %>